<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gyrex.admin.ui.pages">
      <page
            categoryId="org.eclipse.gyrex.admin.ui.categories.system"
            class="org.eclipse.gyrex.admin.ui.p2.internal.SoftwareLandingPage"
            id="p2-software"
            keywords="p2"
            name="Software"
            sortKey="500">
      </page>
   </extension>
</plugin>
