<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gyrex.admin.ui.pages">
      <page
            categoryId="org.eclipse.gyrex.admin.ui.categories.system"
            class="org.eclipse.gyrex.admin.ui.http.jetty.internal.JettyConfigurationPage"
            id="jetty"
            keywords="jetty"
            name="Jetty"
            sortKey="300">
      </page>
   </extension>
</plugin>
