<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.gyrex.context.internal.registry.ContextDefinition"
            class="org.eclipse.gyrex.admin.ui.context.internal.AdapterFactory">
         <adapter
               type="org.eclipse.gyrex.admin.ui.adapter.LabelAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.gyrex.context.IRuntimeContext"
            class="org.eclipse.gyrex.admin.ui.context.internal.AdapterFactory">
         <adapter
               type="org.eclipse.gyrex.admin.ui.adapter.LabelAdapter">
         </adapter>
      </factory>
   </extension>

</plugin>
