<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gyrex.admin.ui.configurationPages">
      <page
            class="org.eclipse.gyrex.admin.ui.context.internal.ContextApplicationPage"
            id="org.eclipse.gyrex.admin.ui.context.page"
            name="Contexts"
            parentId="org.eclipse.gyrex.admin.ui.general">
      </page>
   </extension>

</plugin>
