<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="pages" name="Admin Console Pages Extension Point" schema="schema/pages.exsd"/>

   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.eclipse.gyrex.admin.ui.internal.application.AdminApplication"
            parameter="gyrex-admin-console"
            id="org.eclipse.gyrex.admin.ui.entrypoint">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            body="html/body.html"
            defaultEntrypointId="org.eclipse.gyrex.admin.ui.entrypoint"
            favicon="img/gyrex/eclipse.ico"
            id="org.eclipse.gyrex.admin.ui.branding"
            servletName="admin"
            title="Gyrex Admin">
         <presentationFactory
               defaultLayoutId="org.eclipse.gyrex.admin.ui.layout"
               id="org.eclipse.gyrex.admin.ui.presentation.factory"
               name="Gyrex Admin UI Presentation Factory"
               viewActionsVisible="false">
            <defaultStackPresentation
                  id="org.eclipse.gyrex.admin.ui.stack.view">
            </defaultStackPresentation>
         </presentationFactory>
         <associatedEntrypoints>
            <entrypoint
                  id="org.eclipse.gyrex.admin.ui.entrypoint">
            </entrypoint>
         </associatedEntrypoints>
         <httpServiceFilter
               class="org.eclipse.gyrex.admin.ui.internal.AdminUiServiceFilterFactory">
         </httpServiceFilter>
      </branding>
   </extension>
   <extension
         point="org.eclipse.gyrex.server.roles">

      <defaultStart
            mode="any"
            roleId="org.eclipse.gyrex.admin.ui.role"
            trigger="onBoot">
      </defaultStart>
      <role
            id="org.eclipse.gyrex.admin.ui.role"
            name="RAP Based Admin UI">
         <requireBundle
               symbolicName="org.eclipse.core.runtime">
         </requireBundle>
         <requireBundle
               symbolicName="org.eclipse.rap.ui">
         </requireBundle>
         <requireBundle
               symbolicName="org.eclipse.rap.rwt.osgi">
         </requireBundle>
         <requireBundle
               symbolicName="org.eclipse.gyrex.admin.ui">
         </requireBundle>
         <requireBundle
               symbolicName="org.eclipse.equinox.http.registry">
         </requireBundle>
      </role>
   </extension>
   <extension
         point="org.eclipse.gyrex.admin.ui.pages">
      <page
            categoryId="org.eclipse.gyrex.admin.ui.system"
            class="org.eclipse.gyrex.admin.ui.internal.pages.OverviewPage"
            id="overview"
            name="Overview">
      </page>
      <category
            id="org.eclipse.gyrex.admin.ui.system"
            name="System">
      </category>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themes">
      <themeContribution
            file="theme/admin.css"
            themeId="org.eclipse.rap.rwt.theme.Default">
      </themeContribution>
   </extension>
</plugin>
