<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gyrex.admin.ui.pages">
      <page
            categoryId="org.eclipse.gyrex.admin.ui.system"
            class="org.eclipse.gyrex.admin.ui.http.internal.HttpApplicationPage"
            id="applications"
            keywords="applications"
            name="Applications"
            sortKey="100">
      </page>
   </extension>
</plugin>
